# node.js stuff
*.log
node_modules/
config.json

# misc other files (sandbox, old files, etc.)
*.Zone.Identifier
sounds/jesus.mp3
basic_command_index.js
command.js
sandbox.js

# bot debug commands
# commands/debug/

# new command template file
commands/command-template.js
